.myButton {
  color: white;
  background-color: palevioletred;
  font-size: 1em;
  margin: 4px;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
  cursor: pointer;
}

.another-random-class {
  display: none;
}
