.card-container {
  /* background: palevioletred; */
  /* border-radius: 15px; */
  /* border: 2px solid palevioletred; */
  width: 300px;
  height: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
